/tools/geosparql/*
!/tools/geosparql/Makefile
/tools/jena/*
!/tools/jena/Makefile
/tools/sis/*
!/tools/sis/Makefile
!/tools/sis/data/
/tools/sis/data/installed
/tools/skos-play/*
!/tools/skos-play/Makefile
/tools/snowman/*
!/tools/snowman/Makefile
/tools/sparql-anything/*
!/tools/sparql-anything/Makefile
.*-debug.xml
.DS_Store
/alignment-cache/
/data/*/input.csv
/data/*/input.geojson
/graph/*.ttl
/kos/
/snowman/.built
/snowman/.snowman
/snowman/site/
/snowman/static/*.js*
/snowman/static/*.ttl
/snowman/static/*.wasm
/snowman/static/maplibre-gl.css
/webapp/node_modules/
/webapp/build/
/venv/
