{{ template "base" . }}

{{ define "title" }}{{ .ceramic_type }}{{ end }}

{{ define "content" -}}
<header>
  <h1>{{ .ceramic_type }}</h1>
</header>
<div>
  <p><strong>Form type:</strong> {{ .form_type }}</p>
  <p><strong>Wikidata:</strong> <a href="{{ .wiki_entity }}">{{ .wiki_entity }}</a></p>
  <p><strong>Start date:</strong> {{ .start_date}}</p>
  <p><strong>End date:</strong> {{ .end_date }}</p>
  <p><strong>Suggested dating:</strong> {{ .suggested_dating }}</p>
  <p><strong>Part of:</strong><ul>
    <li>{{ .ARSGroup }}</li>
    <li>{{ .ARSGroup2 }}</li>
    <li>{{ .ARSImportHorizon }}</li>
    <li>{{ .ARSImportHorizon2 }}</li>
  </ul></p>
</div>
{{- end }}
