{{ template "base" . }}

{{ define "title" }}{{ .ceramic_type }}{{ end }}

{{ define "content" -}}
<header>
  <h1>{{ .ceramic_type }}</h1>
</header>
<div>
  <p><strong>Form type:</strong> {{ if .form_type }}{{ .form_type }}{{ else }}Undefined{{ end }}</p>
  <p><strong>Wikidata:</strong> {{ if .wiki_entity }}<a href="{{ .wiki_entity }}">{{ .wiki_entity }}</a>{{ else }}Undefined{{ end }}</p>
  <p><strong>Start date:</strong> {{ if .start_date }}{{ .start_date }}{{ else }}Undefined{{ end }}</p>
  <p><strong>End date:</strong> {{ if .end_date }}{{ .end_date }}{{ else }}Undefined{{ end }}</p>
  <p><strong>Suggested dating:</strong> {{ if .suggested_dating }}{{ .suggested_dating }}{{ else }}Undefined{{ end }}</p>
  {{ if or .ARSGroup .ARSGroup2 .ARSImportHorizon .ARSImportHorizon2 }}
    <p><strong>Part of:</strong>
      <ul>
        {{ if .ARSGroup }}<li>{{ .ARSGroup }}</li>{{ end }}
        {{ if .ARSGroup2 }}<li>{{ .ARSGroup2 }}</li>{{ end }}
        {{ if .ARSImportHorizon }}<li>{{ .ARSImportHorizon }}</li>{{ end }}
        {{ if .ARSImportHorizon2 }}<li>{{ .ARSImportHorizon2 }}</li>{{ end }}
      </ul>
    </p>
  {{ end }}
</div>
{{- end }}