{{ template "base" . }}

{{ define "title" }}{{ .ceramic_type }}{{ end }}

{{ define "content" -}}
<header>
  <h1>{{ .ceramic_type }}</h1>
</header>
<div>
  {{ if .broader_URIs }}
    <p><strong>Subform of:</strong></p>
    <ul>
      {{ range $index, $broader := split .broader_URIs "|" }}
        {{ $broader_id := (index (split $.broaderIdentifiers "|") $index) }}
        {{ $broader_label := (index (split $.broaderLabels "|") $index) }}
        <li>
          <a href="./{{ trim $broader_id }}.html">{{ trim $broader_label }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}

  {{ if .narrower_URIs }}
    <p><strong>Subforms:</strong></p>
    <ul>
      {{ range $index, $narrower := split .narrower_URIs "|" }}
        {{ $narrower_id := (index (split $.narrowerIdentifiers "|") $index) }}
        {{ $narrower_label := (index (split $.narrowerLabels "|") $index) }}
        <li>
          <a href="./{{ trim $narrower_id }}.html">{{ trim $narrower_label }}</a>
        </li>
      {{ end }}
    </ul>
  {{ end }}
  <p><strong>Form type:</strong> {{ if .form_type }}{{ .form_type }}{{ else }}Undefined{{ end }}</p>
  <p><strong>Wikidata:</strong> {{ if .wiki_entity }}<a href="{{ .wiki_entity }}">{{ .wiki_entity }}</a>{{ else }}Undefined{{ end }}</p>
  <!-- <p><strong>Start date:</strong> {{ if .start_date }}{{ .start_date }}{{ else }}Undefined{{ end }}</p>
  <p><strong>End date:</strong> {{ if .end_date }}{{ .end_date }}{{ else }}Undefined{{ end }}</p> -->
  <p><strong>Suggested dating:</strong> {{ if .suggested_dating }}{{ .suggested_dating }}{{ else }}Undefined{{ end }}</p>
</div>
{{- end }}