{{ template "base" . }}

{{ define "title" }}{{ .municipality }}{{ end }}

{{ define "content" -}}
<header>
  <h1>{{ .municipality_label }}</h1>
  <div><a href="{{ .municipality }}">{{ .muncipality_label }}</a></div>
</header>
<div>
  <p><strong>Municipality Name:</strong> {{ .municipality_label }}</p>
  <p><strong>DKG Gazetteer ID:</strong> {{ .municipality }}</p>
  <p><strong>Description:</strong> {{ .description }}</p>
  <p><strong>Identifiers:</strong>{{.municipality_other_uris}}</p>
  <p><strong>Geometry:</strong></p>
  <div class="geometry">{{ .geometry }}</div>
  <p><a href="/map?municipality={{ .municipality_label }}">See {{ .municipality_label }} on the map</a></p>
</div>

<style>
  header {
    margin-bottom: 1em;
  }
  .geometry {
    white-space: pre-wrap;
    background-color: #f9f9f9;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  a {
    color: #007bff;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
{{- end }}