{{ template "base" . }}

{{ define "title" }}{{ .province_name }}{{ end }}

{{ define "content" -}}
<header>
  <h1>{{ .provincia_label }}</h1>
  <div><a href="{{ .provincia }}">{{ .provincia_label }}</a></div>
</header>
<div>
  <p><strong>Provincia Name:</strong> {{ .provincia_label }}</p>
  <p><strong>DKG Gazetteer ID:</strong> {{ .provincia }}</p>
  <p><strong>Identifiers:</strong>{{ .provincia_other_uris}}</p>
  <p><strong>Geometry:</strong></p>
  <div class="geometry">{{ .geometry }}</div> 
</div>
{{- end }}

