{{ template "base" . }}

{{ define "title" }}{{ .site_type }}{{ end }}

{{ define "content" -}}
<header>
  <h1>{{ .site_type }}</h1>
</header>
<div>
    <p><strong>DKG Lab ID:</strong> {{ .id }}</p>
    <p><strong>DKG Lab Definition:</strong> {{ .siteTypeDefinition }}</p>
    <p><strong>Close matches:</strong></p>
    <ul>
      {{ range $index, $uri := split .matchingURIs "," }}
      <li>
        <a href="{{ trim $uri }}">
          {{ if contains (trim $uri) "www.wikidata.org" }}Wikidata{{ else if contains (trim $uri) "pleiades.stoa.org" }}Pleiades{{ else }}{{ trim $uri }}{{ end }}
        </a>
      </li></a>
      {{ end }}
    </ul>
    <p><strong>Additional Definitions:</strong><ul>
      <ul>
        {{ range $index, $def := split .additionalDef "," }}
        <li>{{ trim $def }}</li>
        {{ end }}
      </ul>
    </ul></p>
    <p><strong>Broader Concept:</strong> {{ .broaderSiteType}}</p>
    <p><strong>Narrower Concept:</strong> {{ .narrowerSiteType}}</p>
    <ul>
      {{ range $index, $narrower := split .narrowerSiteTypes "," }}
      <li>{{ trim $narrower }}</li>
      {{ end }}
    </ul>
    <p><a href="/map?site-type={{ .id }}">See all {{ .id }}s on the map</a></p>
</div>

{{- end }}

<!--adding pleiades and wiki close match definitions to csv + updating queries -->