{{ template "base" . }}

{{ define "title" }}{{ .site_type }}{{ end }}

{{ define "content" -}}
<header>
  <h1>{{ .site_type }}</h1>
</header>
<div>
    <p><strong>DKG Lab ID:</strong> {{ .id }}</p>
    <p><strong>DKG Lab Definition:</strong> {{ .siteTypeDefinition }}</p>
  
    <p><strong>Close matches:</strong></p>
    <ul>
      {{ range $index, $uri := split .matchingURIs ", " }}
      <li>
      <a href="{{ trim $uri }}">
        {{ if contains (trim $uri) "www.wikidata.org" }}Wikidata{{ else if contains (trim $uri) "pleiades.stoa.org" }}Pleiades{{ else }}{{ trim $uri }}{{ end }}
      </a>
      </li>
      {{ end }}
    </ul>
    <p><strong>Additional Definitions:</strong></p>
    <ul>
      {{ range $index, $def := split .additionalDefs "|" }}
      {{ if or (contains $def "Wikidata:") (contains $def "Pleiades:") }}
        <li>
          {{ if contains $def "Wikidata:" }}
            <strong>Wikidata:</strong> {{ trim (replace $def "Wikidata: " "" -1) }}
          {{ else if contains $def "Pleiades:" }}
            <strong>Pleiades:</strong> {{ trim (replace $def "Pleiades: " "" -1) }}
          {{ end }}
        </li>
      {{ end }}
      {{ end }}
    </ul>

    <p><strong>Broader Concept:</strong></p>
    <a href="/site-types/{{ urlquery (trim (replace .broaderSiteType "https://dkglab.github.io/ns/for/site-type/" "" -1)) }}.html">
      {{ trim (replace .broaderSiteType "https://dkglab.github.io/ns/for/site-type/" "" -1) }}
    </a>
      <!--add variable for broader site type labels to query + template -->
    <p><strong>Narrower Concept:</strong></p>
    <ul>
      {{ $labels := split .narrowerSiteTypeLabels "," }}
      {{ range $index, $narrower := split .narrowerSiteTypes "," }}
      <li>
        <a href="/site-types/{{ urlquery (trim (replace $narrower "https://dkglab.github.io/ns/for/site-type/" "" -1)) }}.html">
          {{ index $labels $index }}
        </a>
      </li>
      {{ end }}
    </ul>
    <p><a href="/map?site-type={{ .id }}">See all {{ .id }}s on the map</a></p>
</div>

{{- end }}
