:root {
    --nav-height: 2.2rem;
}

html,
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    height: 100%;
    margin: 0;
    font-family: system-ui;
    font-size: 14px;
}

nav {
    height: var(--nav-height);
    background-color: #333;
}

nav ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

nav ol li {
    display: inline;
}

nav ol li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

nav ol li a:hover {
    background-color: #575757;
}

main {
    display: flex;
    flex-direction: column;
    height: calc(100vh - var(--nav-height));
    width: 100%;
    margin: 0 1rem;
    line-height: 180%;
}

header {
    height: 3.6rem;
}

.grow {
    flex-grow: 1; /* Take remaining space */
}
